astor==0.8.1
brotli==1.0.9
cchardet==2.1.7
cffi==1.15.0
coverage==6.2
cryptography==3.3.2
curio==1.5
Cython==0.29.26
dl==0.1.0
html5lib==1.0.1
icalendar==4.0.9
ipaddr==2.2.0
ipython==8.0.1
jedi==0.18.1
keyring==18.0.1
lxml>=4.6.5
mypy_extensions==0.4.3
numpy==1.21.5
ordereddict==1.1
protobuf==3.19.3
pylint==2.12.2
pyOpenSSL==21.0.0
pytest==6.2.5
pytz==2019.3
simplejson==3.17.6
trustme==0.9.0
typing_extensions==4.0.1
wincertstore==0.2.1
