/*Table Responsive*/
.table-list {
	/*font-family: Open Sans;*/
    border: 1px solid #f0f0f0;
    clear: both;
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
.thead,.trow {
    display: table-row-group;
    box-sizing: border-box;
    width: 100%;
}
.tdata{
	background-color: #333333;
    color: #fff;
    display: table-cell;
    font-weight: 500;
    min-width: 120px;
    padding: 10px;
    text-transform: uppercase;
    width: auto;
}
.resp-title {
    color: #333333;
    display: none;
    font-weight: bold;
    margin-right: 5px;
}
.case-id,.date,.status{
	min-width: 120px;
}
.trow .tdata{
	background-color: #fff;
    color: #333333;
    font-size: 14px;
    line-height: 22px;
    text-transform: inherit;
}
.trow:nth-last-child(1) .tdata{
	border-bottom:none;
}
.trow:nth-child(2n+1) .tdata {
	background-color: #f5f5f5;
}
.table-list .resp-thead{display: none;}

@media screen and (max-width:980px){
	.table-list .thead{display: none;}
    .resp-title {
        display:inline-block;
    }
	.table-list .trow{display: inline-block;padding:10px;width:100%;}
	.table-list .trow .tdata{display: inline-block;background-color: transparent;padding: 0 15px 10px 0;}
    .table-list .trow .tdata center {text-align:left;}
    .table-list .trow .tdata span {color:#333333 !important;}
	.table-list .trow:nth-child(2n){background-color: #f0f0f0;}
	.table-list .resp-thead{display: block;font-weight: bold;}
}
@media screen and (max-width:640px) {
    .table-list .trow .tdata {font-size:13px;line-height: 18px;}
}